<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Post All SHOW')">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--&lt;!&ndash;    <title>Post SHOW</title>&ndash;&gt;-->
<!--</head>-->
<body>
<main class="main-body">
<nav th:replace="partials/partials.html :: bootstrap-nav"></nav>
<div id="blog-banner-div">
    <div th:replace="partials/partials.html :: blog-img"></div>
</div>
    <h1 class="d-flex justify-content-center"><strong>ALL POSTS</strong></h1>

    <div class="container-fluid postDisplay">

            <div th:each="post : ${posts}" class="card postCard">
                <div>
                    <h4><span th:text="${post.getTitle()}"></span></h4>
                </div>
<!--                <hr>-->
                <div>
                <p><span th:text="${post.getBody()}"></span></p>
<!--                <p>Email: <span th:text="${post.user.getEmail()}"></span> </p>-->
                </div>
            </div>

    </div>


</main>

<!--<footer th:replace="partials/partials.html :: bootstrap-footer"></footer>-->
</body>
</html>