<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Add User')">
<body>
    <h1> Add a USER!!!!</h1>
    <form class="create-post-form" method="post" >
            <label for="username">Username: </label>
        <input id="username" name="username">
            <label for="email"> email: </label>
        <input id="email" name="email">
            <label for="password"> password: </label>
        <input id="password" name="password">
    <!--    <textarea name="bodyInput"></textarea>-->
        <button type="submit" value="Submit Post">SUBMIT :)</button>
    </form>
</body>
</html>