.main-body {
    background-color: black;
    color: white;
    font-family: sans-serif;

}
#page-container-fcc {
    position: relative;
    min-height: 100vh;
}

#content-wrap-fcc {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer-fcc {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}


.postCard {
    background-color: gray; /* Gray background for post */
    color: chartreuse; /* Text color */
    margin: 0; /* margin for card*/
    width: 100%; /* width of the card */
    height: 100px; /* height of the card */
    padding: 0;
    font-family: sans-serif;
    font-size: 100%;
    /*border-radius: 0px;*/
    /*justify-content: space-between;*/
    overflow-y: scroll;
    border-radius: 12px;
    text-shadow: 2px 2px 3px black;

}

.postCard>p{
    margin :0;
}

.postDisplay {
    display: flex;
    justify-items: center;
    flex-direction: row;
    overflow: hidden;
    padding: 0;
    margin: 10px;

}

a:visited {
    color: chartreuse;
}

.create-post-form {
    width: 100%;
    height: 100%;
}

footer {

}
#blog-banner-div {
    display: flex;
    justify-content: center;
    height: 350px;
}

.blog-img {
    width: 100%;
    height: 100%;
}